{% extends 'layout/base.html' %}


{% block content %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Отправить">
    </form>

    {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
                {% if message.tags %}
                    {% if message.level ==  DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
        

{% endblock content %}